---
swagger: "2.0"
info:
  description: |
    This API manages product inventory resources. It enables creating a resource in the inventory. It also enables retrieving products from the inventory, including their versions and states, their prices, and related parties.
    ###### Compliant with TMF637 Product Inventory Management API REST Specification R16.5.1
  version: "2.0"
  title: Product Inventory Management
  contact:
    name: Amdocs Inc.
    url: http://www.amdocs.com
    email: support@amdocs.com
  license:
    name: Amdocs Inc.
    url: http://
  x-amdocs:
    exposed: public
    service-principals:
    - pi-product-app-id
    - pi-factory-app-id
    - pi-search-app-id
    - pi-validateproduct-app-id
    - pi-price-app-id
host: amdocs.com
basePath: /productInventoryManagement/v2
schemes:
- https
paths:
  /product:
    get:
      tags:
      - productInventoryManagement
      summary: Request to retrive products assigned to a customer
      description: "**Description&#58;**\n        ###### TMF Open API compliant \n   This operation retrives 'customer'- relatedPartyId,  product or products, depending on the query needed,  additional filters are 'status', 'product offering type' and 'enabled by product'.\n"
      operationId: retrieveProducts
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: relatedPartyId
        in: query
        description: |
          The ID of the customer that has this assigned product
        required: false
        type: string
      - name: statuses
        in: query
        description: |
          The list of statuses for a product tree, used to set the status for the products in the tree
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: productRootId
        in: query
        description: |
          The ID of the root product in the product tree
        required: false
        type: string
      - name: Accept-Language
        in: header
        description: |
          The locale of the client.
        required: false
        type: string
      - name: filter
        in: query
        description: |
          The filter for the output records. The filter is used as follows filter=[attributeName][operator][value],[value][&|;]&|;][attributeName][operator][value],[value] The supported values and operators for the filter are as follows -product.id == product.primaryId ==  externalIdentifier.type== externalIdentifier.id==
          when provided time to analyzee will be longer than other retrive tasks
        required: false
        type: string
      - name: productOfferingType
        in: query
        description: "The type of the product offering, The service searches for any of the product, in the prooduct tree which match a specific productOfferingType \n"
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: productOfferingTypeGroup
        in: query
        description: "The (real) type of the product offering, The service searches for any of the product, in the prooduct tree which match a specific productOfferingTypeGroup \n"
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: productOfferingClassification
        in: query
        description: |
          The Classification of the product offering, The service searches for any of the product, in the prooduct tree which match a specific productOfferingClassification (subscription, customer, main)
        required: false
        type: string
        collectionFormat: multi
      - name: replacableProductOfferingId
        in: query
        description: |
          The replaceable inventory product retrieved according to the catalog offer ID
        required: false
        type: string
      - name: productEnabledByProductId
        in: query
        description: |
          The list of primary products. The service searches all dependant products by the primary product ID of the enabling products. It returns a list of primary products which contain the dependant product. A dependant product is a product with the ???enable by??? relationship to the enabling product.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: productSpecificationTypeInProduct
        in: query
        description: |
          <b>Depricated</b> The primary products. The service searches for any of the product specification types within the tree of product offerings. It returns a list of the primary products which contain at least one product specification with the input types.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: offset
        in: query
        description: |
          The requested paginated start index page
        required: false
        type: integer
      - name: limit
        in: query
        description: |
          The requested paginated maximum number of results per page
        required: false
        type: integer
      - name: date
        in: query
        description: |
          The date on which the product was created, or next version created date, according to configuration, when provided time to analyzee will be longer than other retrive tasks
        required: false
        type: string
        format: date-time
      - name: calculatePrice
        in: query
        description: "The product price should be re-quoted during the retrival process of the product \n"
        required: false
        type: boolean
        default: false
      - name: mask
        in: query
        description: |
          The type of product to be returned to the consumer - currently support\n
          - 'returnNote' - Once set, notes associated with Product are returned. If specific noteType is required, this type should be specified in the mask.
          <i>Example&#58; mask=returnNote</i>
        required: false
        type: string
      responses:
        200:
          description: |
            *OK* - The product was retrieved successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/product'
            minItems: 0
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed
            syntax. The response can be caused by missing mandatory query
            parameters, invalid value in the query parameters, validation
            exceptions, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI.
            The response can be caused by missing path parameters, invalid WEB
            resource, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict
            with the current state of the resource.
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition
            that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when
            calling another service.
          schema:
            $ref: '#/definitions/ErrorResponse'
        503:
          description: |
            *Internal Server Error* - The server cannot fulfill the request due to a temporary overloading or maintenance of the server. Retry later.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-dox-Microservice: pi-product-ms
      x-amdocs:
        route-service: pi-product-service
        public-roles:
        - D1_ProductInventoryManagement_retrieveProducts
        - 
        private-roles:
        - D1P_ProductInventoryManagement_read
        - D1_RetrieveWithNoHook_read
        - FndP_APIGateway_gw
    post:
      tags:
      - productInventoryManagement
      summary: Request to create a single product in the inventory
      description: "This operation creates a single product \n###### TMF Open API compliant\n**Mandatory&#58;**\n- Product.parentId (represnts the parent in the produt tree)\n- Product.productRootId (represnts the root product in the produt tree)\n- Product.ProductOrderRef\n- Product.ProductOfferingRef (in case of product offer)\n- Product.ProductSpecificationRef (in case of product specification)\n- Product.BillingAccountRef\n- Product.RelatedPartyRef (role = Customer)        \n\n**Readonly&#58;**\n- Product.CharacteristicMetadata\n- Product.ProductOrderRef\n\n**Business rules&#58;**\n- modifyReason (action must match orderItem.action)\n- relatedParty (only 1 relatedRarty with role = Customer, and Customer status is Active)\n- billingAccount (relatedParty with role = Customer is a prerequisite, should be associated with the same Customer)\n- for enabled product should have Product.ExternalIdentifer\n- mask       -  'returnDraft' version\n             - 'retrunTerminatedProduct'\n\n**Reference value&#58;**\n- channel (ApplicationContext)\n- relatedParty.role = Customer (Configuration.relatedPartyCustomerRole)\n- relatedParty status Active (Configuration.customerValidatorValidStatusValues)\n"
      operationId: createSingleProduct
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: Accept-Language
        in: header
        description: |
          The locale of the client
        required: false
        type: string
      - in: body
        name: Product
        description: |
          The single product in the product inventory
        required: true
        schema:
          $ref: '#/definitions/product'
      responses:
        200:
          description: |
            *Created* - The product was created successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/product'
            minItems: 0
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed
            syntax. The response can be caused by missing mandatory query
            parameters, invalid value in the query parameters, validation
            exceptions, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict
            with the current state of the resource.
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition
            that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when
            calling another service.
          schema:
            $ref: '#/definitions/ErrorResponse'
        503:
          description: |
            *Internal Server Error* - The server cannot fulfill the request due to a temporary overloading or maintenance of the server. Retry later.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-dox-Microservice: pi-product-ms
      x-amdocs:
        route-service: pi-product-service
        public-roles:
        - D1_ProductInventoryManagement_createProduct
        private-roles:
        - D1P_ProductInventoryManagement_write
    delete:
      tags:
      - productInventoryManagement
      summary: (Internal) Request to delete customer assigned products and its assigned promotions
      description: "**Description&#58;** \n           **Mandatory&#58;**\n     - Product.RelatedPartyRef (role = Customer)      \n           \n      This service deletes 'customer'- relatedPartyId products as well as its assigned promotions. this is a technical API and can be used only by the qualified consumer, - This API to be used when the PI is acting as for an external Inventory\n"
      operationId: deleteProduct
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: relatedPartyId
        in: query
        required: true
        type: array
        items:
          type: string
        collectionFormat: csv
        minItems: 1
      - name: Accept-Language
        in: header
        description: |
          The locale of the client
        required: false
        type: string
      responses:
        200:
          description: |
            *Deleted* - The products were deleted successfully.
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed
            syntax. The response can be caused by missing mandatory query
            parameters, invalid value in the query parameters, validation
            exceptions, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI.
            The response can be caused by missing path parameters, invalid WEB
            resource, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict
            with the current state of the resource.
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition
            that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when
            calling another service.
          schema:
            $ref: '#/definitions/ErrorResponse'
        503:
          description: |
            *Internal Server Error* - The server cannot fulfill the request due to a temporary overloading or maintenance of the server. Retry later.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-dox-Microservice: pi-product-ms
      x-dox-InternalAPI: true
      x-amdocs:
        route-service: pi-product-service
        public-roles:
        - D1_ProductInventoryManagement_delete
        private-roles:
        - D1P_ProductInventoryManagement_write
  /product/setupProduct:
    post:
      tags:
      - productInventoryManagement
      summary: Request to create a list of products in the inventory
      description: "This operation creates a bulk of products.\n###### TMF Open API compliant\n**Mandatory&#58;**\n- Product.ProductOrderRef\n- Product.ProductOfferingRef (in case of product offer)\n- Product.ProductSpecificationRef (in case of product specification)\n- Product.BillingAccountRef\n- Product.RelatedPartyRef (role = Customer)        \n\n**Readonly&#58;**\n- Product.CharacteristicMetadata\n\n**Business rules&#58;**\n- modifyReason (action must match orderItem.action)\n- relatedParty (only 1 relatedRarty with role = Customer, and Customer status is Active)\n- billingAccount (relatedParty with role = Customer is a prerequisite, should be associated with the same Customer)\n- for enabled product should have Product.ExternalIdentifer  \n**Reference value&#58;**\n- channel (ApplicationContext)\n- relatedParty.role = Customer (Configuration.relatedPartyCustomerRole)\n- relatedParty status Active (Configuration.customerValidatorValidStatusValues)\n"
      operationId: createProduct
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: Accept-Language
        in: header
        description: |
          The locale of the client
        required: false
        type: string
      - name: validate
        in: query
        description: |
          The validation of the operation prior to persisting the results
        required: false
        type: boolean
        default: true
      - in: body
        name: Product
        description: |
          The bulk of products in the product inventory
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/product'
          minItems: 1
      responses:
        200:
          description: |
            *Created* - The products were created successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/product'
            minItems: 0
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed
            syntax. The response can be caused by missing mandatory query
            parameters, invalid value in the query parameters, validation
            exceptions, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI.
            The response can be caused by missing path parameters, invalid WEB
            resource, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict
            with the current state of the resource.
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition
            that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when
            calling another service.
          schema:
            $ref: '#/definitions/ErrorResponse'
        503:
          description: |
            *Internal Server Error* - The server cannot fulfill the request due to a temporary overloading or maintenance of the server. Retry later.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-amdocs:
        route-service: pi-product-service
        public-roles:
        - D1_ProductInventoryManagement_createProduct
        private-roles:
        - D1P_ProductInventoryManagement_write
      x-dox-Microservice: |-
        pi-product-ms
        - ProductInventoryManagement
  /product/updateProduct:
    post:
      tags:
      - productInventoryManagement
      summary: Request to update a product - ProductInventoryManagement
      description: "This operation updates the product version. It creates a new version.\n###### TMF Open API compliant\n**Mandatory&#58;**\n- Product.id\n- Product. alternateId\n- Product.version\n- Product.ProductOrderRef\n- Product.ProductOfferingRef (in case of product offer)\n- Product.ProductSpecificationRef (in case of product specification)\n- Product.BillingAccountRef\n- Product.RelatedPartyRef (role = Customer)        \n\n**Readonly&#58;**\n- Product.CharacteristicMetadata\n\n**Business rules&#58;**\n- modifyReason (action must match orderItem.action)\n- relatedParty (only 1 relatedRarty with role = Customer, and Customer status is Active)\n- billingAccount (relatedParty with role = Customer is a prerequisite, should be associated with the same Customer)\n- for enabled product should have Product.ExternalIdentifer  \n**Reference value&#58;**\n- channel (ApplicationContext)\n- relatedParty.role = Customer (Configuration.relatedPartyCustomerRole)\n- relatedParty status Active (Configuration.customerValidatorValidStatusValues)\n"
      operationId: updateProduct
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: Accept-Language
        in: header
        description: |
          The locale of the client
        required: false
        type: string
      - name: orderChange
        in: query
        description: |
          The order was changed after the product was created, although the orderitem exists. create new version
        required: false
        type: boolean
        default: false        
      - in: body
        name: Product
        description: |
          The single product in the product inventory
        required: true
        schema:
          $ref: '#/definitions/product'
      responses:
        200:
          description: |
            *OK* - The product version was created successfully.
          schema:
            $ref: '#/definitions/product'
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed
            syntax. The response can be caused by missing mandatory query
            parameters, invalid value in the query parameters, validation
            exceptions, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI.
            The response can be caused by missing path parameters, invalid WEB
            resource, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict
            with the current state of the resource.
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition
            that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when
            calling another service.
          schema:
            $ref: '#/definitions/ErrorResponse'
        503:
          description: |
            *Internal Server Error* - The server cannot fulfill the request due to a temporary overloading or maintenance of the server. Retry later.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-amdocs:
        route-service: pi-product-service
        public-roles:
        - D1_ProductInventoryManagement_createProduct
        private-roles:
        - D1P_ProductInventoryManagement_write
      x-dox-Microservice: |-
        pi-product-ms
        - ProductInventoryManagement
  /product/updateProductList:
    post:
      tags:
      - productInventoryManagement
      summary: Request to update a list of products in the inventory
      description: |
        This service updates the version for a bulk of products. It creates a new version for a bulk of products. This service replaces the updateProduct single product definition.
      operationId: updateProductList
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: Accept-Language
        in: header
        description: |
          The locale of the client
        required: false
        type: string
      - name: validate
        in: query
        description: |
          The validation of the operation prior to persisting the results
        required: false
        type: boolean
        default: true
      - name: orderChange
        in: query
        description: |
          The order was changed after the product was created, although the orderitem exists. create new version
        required: false
        type: boolean
        default: false         
      - in: body
        name: Product
        description: |
          The single product in the product inventory
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/product'
          minItems: 0
      responses:
        200:
          description: |
            *OK* - The product version was created successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/product'
            minItems: 0
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed
            syntax. The response can be caused by missing mandatory query
            parameters, invalid value in the query parameters, validation
            exceptions, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI.
            The response can be caused by missing path parameters, invalid WEB
            resource, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict
            with the current state of the resource.
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition
            that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when
            calling another service.
          schema:
            $ref: '#/definitions/ErrorResponse'
        503:
          description: |
            *Internal Server Error* - The server cannot fulfill the request due to a temporary overloading or maintenance of the server. Retry later.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-amdocs:
        route-service: pi-product-service
        public-roles:
        - D1_ProductInventoryManagement_createProduct
        private-roles:
        - D1P_ProductInventoryManagement_write
      x-dox-Microservice: |-
        pi-product-ms
        - ProductInventoryManagement
  /product/productSnapshot:
    get:
      tags:
      - productInventoryManagement
      summary: Request to retrive products tree snapshot valid for a given date
      description: |
        **Description&#58;**
           This operation retrives product tree, per a given date
      operationId: retrieveProductSnapshot
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: Accept-Language
        in: header
        description: |
          The locale of the client
        required: false
        type: string
      - name: productRootId
        in: query
        description: |
          The ID of the root product in the product tree
        required: false
        type: string
      - name: offset
        in: query
        description: |
          The requested paginated start index page
        required: false
        type: integer
      - name: limit
        in: query
        description: |
          The requested paginated maximum number of results per page
        required: false
        type: integer
      - name: date
        in: query
        description: |
          The date on which the product was created, or next version created date, according to configuration, when provided time to analyzee will be longer than other retrive tasks
        required: false
        type: string
        format: date-time
      - name: mask
        in: query
        description: |
          The type of product to be returned to the consumer - currently support\n
          - 'returnNote' - Once set, notes associated with Product are returned. If specific noteType is required, this type should be specified in the mask.
          <i>Example&#58; mask=returnNote</i>
        required: false
        type: string
      responses:
        "200":
          description: |
            *OK* - The product was retrieved successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/product'
            minItems: 0
        "400":
          description: |
            *Bad Request* - The server cannot process the request due to a malformed
            syntax. The response can be caused by missing mandatory query
            parameters, invalid value in the query parameters, validation
            exceptions, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: |
            *Not Found* - The server did not find anything matching the request URI.
            The response can be caused by missing path parameters, invalid WEB
            resource, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        "409":
          description: |
            *Conflict* - The server cannot complete the request due to a conflict
            with the current state of the resource.
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: |
            *Internal Server Error* - The server encountered an unexpected condition
            that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        "502":
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when
            calling another service.
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: |
            *Internal Server Error* - The server cannot fulfill the request due to a temporary overloading or maintenance of the server. Retry later.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-dox-Microservice: pi-product-ms
      x-amdocs:
        route-service: pi-product-service
        public-roles:
        - D1_ProductInventoryManagement_retrieveProducts
        private-roles:
        - D1P_ProductInventoryManagement_read
        - FndP_APIGateway_gw
  /product/{productId}/updateStatus:
    post:
      tags:
      - productInventoryManagement
      summary: Request to update the status of a specific product
      description: "This service updates the status of a product that already exists in the inventory. ###### TMF Open API compliant **Mandatory&#58;**\n  - Product.RelatedPartyRef (role = Customer)        \n  - Product.Id\n  - Product.status\n"
      operationId: updateStatus
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: productId
        in: path
        description: |
          The ID of the primary product
        required: true
        type: string
      - name: Accept-Language
        in: header
        description: |
          The locale of the client
        required: false
        type: string
      - name: status
        in: query
        description: |
          The status of the product in the product lifecycle
        required: false
        type: string
      - name: version
        in: query
        description: |
          The version of the product
        required: false
        type: string
      responses:
        200:
          description: |
            *OK* - The status was updated successfully.
          schema:
            $ref: '#/definitions/product'
        304:
          description: |
            *NotModified* - The status was not modified.
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed
            syntax. The response can be caused by missing mandatory query
            parameters, invalid value in the query parameters, validation
            exceptions, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI.
            The response can be caused by missing path parameters, invalid WEB
            resource, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict
            with the current state of the resource.
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition
            that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when
            calling another service.
          schema:
            $ref: '#/definitions/ErrorResponse'
        503:
          description: |
            *Internal Server Error* - The server cannot fulfill the request due to a temporary overloading or maintenance of the server. Retry later.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-amdocs:
        route-service: pi-product-service
        private-roles:
        - D1P_ProductInventoryManagement_write
      x-dox-Microservice: pi-product-ms
      x-dox-InternalAPI: true - ProductInventoryManagement
  /product/updateStatus:
    post:
      tags:
      - productInventoryManagement
      summary: Request to update the status of a specific product
      description: "This service updates the status of a list of products that already exists in the inventory. ###### TMF Open API compliant\n**Mandatory&#58;**\n  - Product.RelatedPartyRef (role = Customer) \n  In body -\n      - Product.Id\n      - Product.status\n"
      operationId: updateStatusList
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: Accept-Language
        in: header
        description: |
          The locale of the client
        required: false
        type: string
      - name: status
        in: query
        description: |
          The status of the product in the product lifecycle
        required: false
        type: string
      - in: body
        name: Product
        description: |
          The single product in the product inventory
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/statusList'
          minItems: 1
      responses:
        200:
          description: |
            *OK* - The status was updated successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/product'
            minItems: 0
        304:
          description: |
            *NotModified* - The status was not modified.
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed
            syntax. The response can be caused by missing mandatory query
            parameters, invalid value in the query parameters, validation
            exceptions, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI.
            The response can be caused by missing path parameters, invalid WEB
            resource, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict
            with the current state of the resource.
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition
            that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when
            calling another service.
          schema:
            $ref: '#/definitions/ErrorResponse'
        503:
          description: |
            *Internal Server Error* - The server cannot fulfill the request due to a temporary overloading or maintenance of the server. Retry later.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-amdocs:
        route-service: pi-product-service
        private-roles:
        - D1P_ProductInventoryManagement_write
      x-dox-Microservice: pi-product-ms
      x-dox-InternalAPI: true - ProductInventoryManagement
  /product/{productId}:
    get:
      tags:
      - productInventoryManagement
      summary: Request to retrive a specific product
      description: "**Description&#58;**\n      ###### TMF Open API compliant \n This operation retrives customer specific primary product\n"
      operationId: retrieveProduct
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: productId
        in: path
        description: |
          Product id
        required: true
        type: string
      - name: version
        in: query
        description: |
          The version of the product
        required: false
        type: string
      - name: Accept-Language
        in: header
        description: |
          The locale of the client
        required: false
        type: string
      - name: mask
        in: query
        description: |
          The type of product to be returned to the consumer - currently support\n
          - 'returnNote' - Once set, notes associated with Product are returned. If specific noteType is required, this type should be specified in the mask.
          <i>Example&#58; mask=returnNote</i>
        required: false
        type: string
      responses:
        200:
          description: |
            *OK* - The product was retrieved successfully.
          schema:
            $ref: '#/definitions/product'
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed
            syntax. The response can be caused by missing mandatory query
            parameters, invalid value in the query parameters, validation
            exceptions, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI.
            The response can be caused by missing path parameters, invalid WEB
            resource, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict
            with the current state of the resource.
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition
            that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when
            calling another service.
          schema:
            $ref: '#/definitions/ErrorResponse'
        503:
          description: |
            *Internal Server Error* - The server cannot fulfill the request due to a temporary overloading or maintenance of the server. Retry later.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-dox-Microservice: pi-product-ms
      x-amdocs:
        route-service: pi-product-service
        public-roles:
        - D1_ProductInventoryManagement_retrieveProducts
        private-roles:
        - D1P_ProductInventoryManagement_read
        - D1_RetrieveWithNoHook_read
        - FndP_APIGateway_gw
    patch:
      tags:
      - productInventoryManagement
      summary: (Internal) Request to update the characteristics and extension of a specific product - NOT IMPLEMENTED YET
      description: "This service updates the characteristics and extension of a product that already exists in the inventory, in case the working product is in 'created' state the information is accomulated, for any other state it shall create a new version of product, with the the additional characterisitics / extension\n\n  - Product.RelatedPartyRef (role = Customer)        \n  - Product.Id\n  - Product.characteriscis\n  - product.extension\n"
      operationId: updateCharacteristics
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: productId
        in: path
        description: "The ID of the product \n"
        required: true
        type: string
      - name: compositeProductId
        in: query
        description: |
          The ID of the product in the product tree, under the composite relation
        required: false
        type: string
        x-dox-NotImplemented: true
      - in: body
        name: PatchElement
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/PatchElement'
      - name: Accept-Language
        in: header
        description: |
          The locale of the client
        required: false
        type: string
      responses:
        200:
          description: |
            *OK* - The status was updated successfully.
          schema:
            $ref: '#/definitions/product'
        304:
          description: |
            *NotModified* - The status was not modified.
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed
            syntax. The response can be caused by missing mandatory query
            parameters, invalid value in the query parameters, validation
            exceptions, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI.
            The response can be caused by missing path parameters, invalid WEB
            resource, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict
            with the current state of the resource.
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition
            that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when
            calling another service.
          schema:
            $ref: '#/definitions/ErrorResponse'
        503:
          description: |
            *Internal Server Error* - The server cannot fulfill the request due to a temporary overloading or maintenance of the server. Retry later.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-amdocs:
        route-service: pi-product-service
        public-roles:
        - D1_ProductInventoryManagement_updateProduct
        private-roles:
        - D1P_ProductInventoryManagement_write
      x-dox-Microservice: pi-product-ms
      x-dox-InternalAPI: true
      x-dox-NotImplemented: true
  /product/{productId}/version:
    get:
      tags:
      - productInventoryManagement
      summary: Retrieve all existing versions of a specific product
      description: |
        This service retrieves the versions of a specific product.
      operationId: retrieveProductVersions
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: dateFrom
        in: query
        description: |
          The date on which the entities should be retrived from
        required: false
        type: string
        format: date-time
      - name: dateTo
        in: query
        description: "The end date on which the entities should be retrived to \n"
        required: false
        type: string
        format: date-time
      - name: offset
        in: query
        description: |
          The requested paginated start index page
        required: false
        type: integer
      - name: limit
        in: query
        description: |
          The requested paginated maximum number of results per page
        required: false
        type: integer
      - name: relatedPartyId
        in: query
        description: |
          The ID of the customer that has this assigned product
        required: false
        type: string
      - name: Accept-Language
        in: header
        description: |
          The locale of the client
        required: false
        type: string
      - name: mask
        in: query
        description: |
          The type of product to be returned to the consumer - currently support\n
          - 'returnNote' - Once set, notes associated with Product are returned. If specific noteType is required, this type should be specified in the mask.
          <i>Example&#58; mask=returnNote</i>
        required: false
        type: string
      - name: productId
        in: path
        description: |
          The ID of the primary product
        required: true
        type: string
      responses:
        200:
          description: |
            *OK* - The product versions were retrieved successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/product'
            minItems: 0
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed
            syntax. The response can be caused by missing mandatory query
            parameters, invalid value in the query parameters, validation
            exceptions, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI.
            The response can be caused by missing path parameters, invalid WEB
            resource, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict
            with the current state of the resource.
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition
            that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when
            calling another service.
          schema:
            $ref: '#/definitions/ErrorResponse'
        503:
          description: |
            *Internal Server Error* - The server cannot fulfill the request due to a temporary overloading or maintenance of the server. Retry later.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-dox-Microservice: pi-product-ms
      x-amdocs:
        route-service: pi-product-service
        public-roles:
        - D1_ProductInventoryManagement_retrieveProducts
        private-roles:
        - D1P_ProductInventoryManagement_read
        - FndP_APIGateway_gw
  /product/{productId}/relatedProduct:
    get:
      tags:
      - productInventoryManagement
      summary: Retrieve all products that are related to the productId in path, via a specific relation type
      description: |
        This service retrieve all products that are related to the productId in path, via a specific relation type,
      operationId: retrieveRelatedProduct
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: offset
        in: query
        description: |
          The requested paginated start index page
        required: false
        type: integer
      - name: limit
        in: query
        description: |
          The requested paginated maximum number of results per page
        required: false
        type: integer
      - name: relationType
        in: query
        description: |
          The relation type that correspond with the related product (BusinesRelation, BillingRelation)
        required: true
        type: string
      - name: relationSubType
        in: query
        description: |
          The relation type name that correspond with the related product (Bundle, Add-On)
        required: false
        type: string
      - name: Accept-Language
        in: header
        description: |
          The locale of the client
        required: false
        type: string
      - name: productId
        in: path
        description: |
          The ID of the primary product
        required: true
        type: string
      responses:
        200:
          description: |
            *OK* - The product versions were retrieved successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/product'
            minItems: 0
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed
            syntax. The response can be caused by missing mandatory query
            parameters, invalid value in the query parameters, validation
            exceptions, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI.
            The response can be caused by missing path parameters, invalid WEB
            resource, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict
            with the current state of the resource.
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition
            that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when
            calling another service.
          schema:
            $ref: '#/definitions/ErrorResponse'
        503:
          description: |
            *Internal Server Error* - The server cannot fulfill the request due to a temporary overloading or maintenance of the server. Retry later.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-dox-Microservice: pi-product-ms
      x-amdocs:
        route-service: pi-product-service
        public-roles:
        - D1_ProductInventoryManagement_retrieveProducts
        private-roles:
        - D1P_ProductInventoryManagement_read
        - FndP_APIGateway_gw
  /product/enablingProduct:
    get:
      tags:
      - productInventoryManagement
      summary: Retrieve a list of enabling products per product specification type or ID
      description: "**Mandatory&#58;**\n- Product.ProductSpecificationType or Product.ProductSpecificationId\n- Product.RelatedPartyRef (role = Customer)        \n\n**Reference value&#58;**\n- channel (ApplicationContext)\n- relatedParty.role = Customer (Configuration.relatedPartyCustomerRole)\n- relatedParty status Active (Configuration.customerValidatorValidStatusValues)\n"
      operationId: retrieveEnablingProduct
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: productSpecificationType
        in: query
        description: |
          The product specification types. The service searches for any of the product specification types within the tree of product offering.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: productSpecificationId
        in: query
        description: "The product specification IDs. The service searches for any of the product specification IDs within the tree of product offerings. \n"
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: relatedPartyId
        in: query
        description: |
          The ID of the customer that has this assigned product
        required: false
        type: string
      - name: offset
        in: query
        description: |
          The requested paginated start index page
        required: false
        type: integer
      - name: limit
        in: query
        description: |
          The requested paginated maximum number of results per page
        required: false
        type: integer
      responses:
        200:
          description: |
            *OK* - The product versions were retrieved successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/EnablingProduct'
            minItems: 0
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed
            syntax. The response can be caused by missing mandatory query
            parameters, invalid value in the query parameters, validation
            exceptions, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI.
            The response can be caused by missing path parameters, invalid WEB
            resource, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict
            with the current state of the resource.
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition
            that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when
            calling another service.
          schema:
            $ref: '#/definitions/ErrorResponse'
        503:
          description: |
            *Internal Server Error* - The server cannot fulfill the request due to a temporary overloading or maintenance of the server. Retry later.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-dox-Microservice: pi-product-ms
      x-amdocs:
        route-service: pi-product-service
        public-roles:
        - D1_ProductInventoryManagement_retrieveProducts
        private-roles:
        - D1P_ProductInventoryManagement_read
        - FndP_APIGateway_gw
  /product/{productId}/manageProductDate:
    post:
      tags:
      - productInventoryManagement
      summary: Request to update activation and / or termination dates
      description: |
        This service manages the requested dates of the product without creating a new version, the dates that can be updated are activation date and termination date.
        <ul>
        <li>The supported action is update
        <li>The ManageProductDate receives its resource that contains
        the date fields on the product
        </ul>
      operationId: enscriptPasswordWithSalt
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: productId
        in: path
        description: |
          The ID of the product
        required: true
        type: string
      - name: Accept-Language
        in: header
        description: |
          The locale of the client
        required: false
        type: string
      - in: body
        name: managedProductDates
        description: |
          The date that is assigned to the product can be activation date or termination date
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/ManageProductDate'
          minItems: 1
      responses:
        200:
          description: |
            *OK* - The product order dates were updated successfully.
          schema:
            $ref: '#/definitions/product'
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed
            syntax. The response can be caused by missing mandatory query
            parameters, invalid value in the query parameters, validation
            exceptions, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI.
            The response can be caused by missing path parameters, invalid WEB
            resource, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict
            with the current state of the resource.
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition
            that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when
            calling another service.
          schema:
            $ref: '#/definitions/ErrorResponse'
        503:
          description: |
            *Internal Server Error* - The server cannot fulfill the request due to a temporary overloading or maintenance of the server. Retry later.
          schema:
            $ref: '#/definitions/ErrorResponse'           
      x-amdocs:
        route-service: pi-product-service
        public-roles:
        - D1_ProductInventoryManagement_updateProduct
        private-roles:
        - D1P_ProductInventoryManagement_write
      x-dox-Microservice: pi-product-ms
  /product/{productId}/externalIdentifier:
    post:
      tags:
      - productInventoryManagement
      summary: Request to update external identifier on a specific product
      description: |
        This service allows to update the external identifier object of the product without creating a new version
      operationId: externalIdentifier
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: Accept-Language
        in: header
        description: |
          The locale of the client
        required: false
        type: string
      - name: operation
        in: query
        description: |
          The operation for task, can be 'update' or 'delete'
        required: false
        type: string
      - name: compositeProductId
        in: query
        description: |
          The ID of the product in the product tree, under the composite relation
        required: false
        type: string
        x-dox-NotImplemented: true
      - name: productId
        in: path
        description: |
          The ID of the product
        required: true
        type: string
      - in: body
        name: externalIdentifier
        description: |
          update external identifier object of an existing product .
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/ExternalIdentifier'
      responses:
        200:
          description: |
            *ExternalIdentifiers updated* - Product External Identifiers updated successfuly  .
          schema:
            $ref: '#/definitions/product'
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed
            syntax. The response can be caused by missing mandatory query
            parameters, invalid value in the query parameters, validation
            exceptions, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI.
            The response can be caused by missing path parameters, invalid WEB
            resource, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict
            with the current state of the resource.
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition
            that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when
            calling another service.
          schema:
            $ref: '#/definitions/ErrorResponse'
        503:
          description: |
            *Internal Server Error* - The server cannot fulfill the request due to a temporary overloading or maintenance of the server. Retry later.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-amdocs:
        route-service: pi-product-service
        public-roles:
        - D1_ProductInventoryManagement_updateProduct
        private-roles:
        - D1P_ProductInventoryManagement_write
      x-dox-Microservice: pi-product-ms
  /productPromotion:
    get:
      tags:
      - productInventoryManagement
      summary: Retrieve promotion resources that are assigned to a customer
      description: "This service retrievs product promotion resources, according to the customer and if needed additional filter, like 'status'  and / or timefram\n\n **Mandatory&#58;**\n - Product.RelatedPartyRef (role = Customer)        \n"
      operationId: retrieveProductPromotion
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: status
        in: query
        description: |
          The status of the product in the product lifecycle
        required: false
        type: string
      - name: dateFrom
        in: query
        description: |
          The date on which the entities should be retrived from
        required: false
        type: string
        format: date-time
      - name: dateTo
        in: query
        description: "The end date on which the entities should be retrived to \n"
        required: false
        type: string
        format: date-time
      - name: promotionId
        in: query
        description: |
          The list of IDs of the promotions
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: relatedPartyId
        in: query
        description: |
          The ID of the customer that has this assigned product
        required: false
        type: string
      - name: offset
        in: query
        description: |
          The requested paginated start index page
        required: false
        type: integer
      - name: limit
        in: query
        description: |
          The requested paginated maximum number of results per page
        required: false
        type: integer
      responses:
        200:
          description: |
            *OK* - The product promotion were retrieved successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/ProductPromotion'
            minItems: 0
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed
            syntax. The response can be caused by missing mandatory query
            parameters, invalid value in the query parameters, validation
            exceptions, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI.
            The response can be caused by missing path parameters, invalid WEB
            resource, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict
            with the current state of the resource.
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition
            that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when
            calling another service.
          schema:
            $ref: '#/definitions/ErrorResponse'
        503:
          description: |
            *Internal Server Error* - The server cannot fulfill the request due to a temporary overloading or maintenance of the server. Retry later.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-dox-Microservice: pi-product-ms
      x-amdocs:
        route-service: pi-product-service
        public-roles:
        - D1_ProductInventoryManagement_retrieveProductPromotion
        private-roles:
        - D1P_ProductInventoryManagement_read
        - FndP_APIGateway_gw
    post:
      tags:
      - productInventoryManagement
      summary: Request to create a promotion resource
      description: "This service creates a product promotion resource\n**Mandatory&#58;**\n- Product.RelatedPartyRef (role = Customer)        \n- ProductPromotion.immediatePromotionId\n- ProductPromotion.status\n- ProductPromotion.promotionRef\n- ProductPromotion.benefitProduct\n\n**Readonly&#58;**\n- ProductPromotion.id\n- ProductPromotion.BenefitProduct.id\n- ProductPromotion.TriggerProduct.id\n\n**Business rules&#58;**\n- modifyReason (action must match orderItem.action)\n- relatedParty (only 1 relatedRarty with role = Customer, and Customer status is Active)\n- billingAccount (relatedParty with role = Customer is a prerequisite, should be associated with the same Customer)\n- for enabled product should have Product.ExternalIdentifer  \n**Reference value&#58;**\n- PromotionRef\n- relatedParty.role = Customer (Configuration.relatedPartyCustomerRole)\n- relatedParty status Active (Configuration.customerValidatorValidStatusValues)\n"
      operationId: getIpAddr
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: Accept-Language
        in: header
        description: |
          The locale of the client
        required: false
        type: string
      - in: body
        name: productPromotion
        description: |
          Creates a product promotion resource in the product promotion inventory .
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/ProductPromotion'
          minItems: 1
      responses:
        200:
          description: |
            *Created* - Product created successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/ProductPromotion'
            minItems: 0
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed
            syntax. The response can be caused by missing mandatory query
            parameters, invalid value in the query parameters, validation
            exceptions, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI.
            The response can be caused by missing path parameters, invalid WEB
            resource, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict
            with the current state of the resource.
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition
            that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when
            calling another service.
          schema:
            $ref: '#/definitions/ErrorResponse'
        503:
          description: |
            *Internal Server Error* - The server cannot fulfill the request due to a temporary overloading or maintenance of the server. Retry later.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-dox-Microservice: pi-product-ms
      x-amdocs:
        route-service: pi-product-service
        public-roles:
        - D1_ProductInventoryManagement_createPromotion
        private-roles:
        - D1P_ProductInventoryManagement_write
  /productPromotionList:
    get:
      tags:
      - productInventoryManagement
      summary: Bulk export of promotion resource - NOT IMPLEMENTED
      description: "This service retrieves a list of assigned product promotions, according to a certain status and expiration date - This API is a technical API to be used internally \n"
      operationId: retrieveProductPromotionList
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: status
        in: query
        description: |
          The status of the product in the product lifecycle
        required: false
        type: string
      - name: dateFrom
        in: query
        description: |
          The date on which the entities should be retrived from
        required: false
        type: string
        format: date-time
      - name: dateTo
        in: query
        description: "The end date on which the entities should be retrived to \n"
        required: false
        type: string
        format: date-time
      - name: offset
        in: query
        description: |
          The requested paginated start index page
        required: false
        type: integer
      - name: limit
        in: query
        description: |
          The requested paginated maximum number of results per page
        required: false
        type: integer
      responses:
        200:
          description: |
            *OK* - List of product promotions retrieved successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/ProductPromotion'
            minItems: 0
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed
            syntax. The response can be caused by missing mandatory query
            parameters, invalid value in the query parameters, validation
            exceptions, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI.
            The response can be caused by missing path parameters, invalid WEB
            resource, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict
            with the current state of the resource.
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition
            that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when
            calling another service.
          schema:
            $ref: '#/definitions/ErrorResponse'
        503:
          description: |
            *Internal Server Error* - The server cannot fulfill the request due to a temporary overloading or maintenance of the server. Retry later.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-dox-NotImplemented: true
      x-dox-Microservice: pi-product-ms
      x-amdocs:
        route-service: pi-product-service
        public-roles:
        - D1_ProductInventoryManagement_retrieveProductPromotion
        private-roles:
        - D1P_ProductInventoryManagement_read
  /productPromotion/{promotionId}:
    get:
      tags:
      - productInventoryManagement
      summary: Retrive a specific assigned promotion resource
      description: "This service retrievs product promotion resources, of a specifc assigned product, according to the customer \n\n **Mandatory&#58;**\n - Product.RelatedPartyRef (role = Customer) \n"
      operationId: retrieveSpecificProductPromotion
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: promotionId
        in: path
        description: |
          The ID of the product promotion
        required: true
        type: string
      responses:
        200:
          description: |
            *OK* - The product was retrieved successfully.
          schema:
            $ref: '#/definitions/ProductPromotion'
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed
            syntax. The response can be caused by missing mandatory query
            parameters, invalid value in the query parameters, validation
            exceptions, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI.
            The response can be caused by missing path parameters, invalid WEB
            resource, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict
            with the current state of the resource.
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition
            that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when
            calling another service.
          schema:
            $ref: '#/definitions/ErrorResponse'
        503:
          description: |
            *Internal Server Error* - The server cannot fulfill the request due to a temporary overloading or maintenance of the server. Retry later.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-dox-Microservice: pi-product-ms
      x-amdocs:
        route-service: pi-product-service
        public-roles:
        - D1_ProductInventoryManagement_retrieveProductPromotion
        private-roles:
        - D1P_ProductInventoryManagement_read
        - FndP_APIGateway_gw
    patch:
      tags:
      - productInventoryManagement
      summary: (Internal) Partial Update to the promotion resrouce
      description: |
        This service enables a partial update of the of a product promotion resource that already exists in inventory, it should be restricted to be used only by the appropriate business flow entity (OH)
        **Patchable elements&#58;**
        - PromotionAction.ValidFor
        - BenefitProduct.id/BenefitProduct.itemStatus
      operationId: updatePromotion
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: promotionId
        in: path
        description: |
          Product promotion id
        required: true
        type: string
      - name: Accept-Language
        in: header
        description: |
          The locale of the client
        required: false
        type: string
      - name: status
        in: query
        description: |
          The status of the product in the product lifecycle
        required: false
        type: string
      - in: body
        name: PromotionPatch
        description: "The product promotions fileds and their assigned values of the resource to be updated \nExample - \n{ \"path\": \"ProductPromotion{id}/BenefitProduct{id}/PromotionAction{id}/effectiveFor\n  \"op\": \"add\", ???remove???, ???update???\n  \"value\": { TimePeriod }  }\n"
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/PatchElement'
      responses:
        200:
          description: |
            *OK* - Status was updated successfully.
          schema:
            $ref: '#/definitions/ProductPromotion'
        304:
          description: |
            *NotModified* - same status.
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed
            syntax. The response can be caused by missing mandatory query
            parameters, invalid value in the query parameters, validation
            exceptions, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI.
            The response can be caused by missing path parameters, invalid WEB
            resource, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict
            with the current state of the resource.
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition
            that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when
            calling another service.
          schema:
            $ref: '#/definitions/ErrorResponse'
        503:
          description: |
            *Internal Server Error* - The server cannot fulfill the request due to a temporary overloading or maintenance of the server. Retry later.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-amdocs:
        route-service: pi-product-service
        public-roles:
        - D1_ProductInventoryManagement_updateProductPromotion
        private-roles:
        - D1P_ProductInventoryManagement_write
      x-dox-InternalAPI: true
      x-dox-Microservice: pi-product-ms
  /productPromotion/{promotionId}/updateStatus:
    post:
      tags:
      - productInventoryManagement
      summary: Update of a specific promotion status
      description: |
        This service updates the status of a product promotion that already exists in inventory
         **Mandatory&#58;**
        - Product.RelatedPartyRef (role = Customer)         - ProductPromotion.Id - ProductPromotion.status
      operationId: updatePromotionStatus
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: promotionId
        in: path
        description: |
          Product promotion id
        required: true
        type: string
      - name: Accept-Language
        in: header
        description: |
          The locale of the client
        required: false
        type: string
      - name: status
        in: query
        description: |
          The status of the product in the product lifecycle
        required: false
        type: string
      responses:
        200:
          description: |
            *OK* - Status was updated successfully.
          schema:
            $ref: '#/definitions/ProductPromotion'
        304:
          description: |
            *NotModified* - same status.
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed
            syntax. The response can be caused by missing mandatory query
            parameters, invalid value in the query parameters, validation
            exceptions, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI.
            The response can be caused by missing path parameters, invalid WEB
            resource, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict
            with the current state of the resource.
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition
            that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when
            calling another service.
          schema:
            $ref: '#/definitions/ErrorResponse'
        503:
          description: |
            *Internal Server Error* - The server cannot fulfill the request due to a temporary overloading or maintenance of the server. Retry later.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-amdocs:
        route-service: pi-product-service
        public-roles:
        - D1_ProductInventoryManagement_updateProductPromotion
        private-roles:
        - D1P_ProductInventoryManagement_write
      x-dox-Microservice: pi-product-ms
  /product/generateId:
    post:
      tags:
      - generateProductId
      summary: Generate new product Id
      description: This task generates Product identifier
      operationId: generateProductId
      schemes:
      - https
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: requestQuantity
        in: query
        description: The quantity of ids to create if not specified only one
        required: false
        type: integer
        maximum: 1000
        minimum: 1
      responses:
        "200":
          description: |
            *OK* - The product identifier was generated successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/ProductId'
        "400":
          description: |
            *Bad Request* - The server cannot process the request due to a malformed
            syntax. The response can be caused by missing mandatory query
            parameters, invalid value in the query parameters, validation
            exceptions, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: |
            *Not Found* - The server did not find anything matching the request URI.
            The response can be caused by missing path parameters, invalid WEB
            resource, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        "409":
          description: |
            *Conflict* - The server cannot complete the request due to a conflict
            with the current state of the resource.
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: |
            *Internal Server Error* - The server encountered an unexpected condition
            that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        "502":
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when
            calling another service.
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: |
            *Internal Server Error* - The server cannot fulfill the request due to a temporary overloading or maintenance of the server. Retry later.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-amdocs:
        route-service: pi-product-service
        public-roles: 
        - D1_ProductInventoryManagement_systemCreateProductId
        private-roles:
        - D1P_ProductInventoryManagement_write
  /productPromotion/generateId:
    post:
      tags:
      - generateProductPromotionId
      summary: Generate new product promotion Id
      description: This task generates Product Promotion identifier
      operationId: generateProductPromotionId
      schemes:
      - https
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: requestQuantity
        in: query
        description: The quantity of ids to create if not specified only one
        required: false
        type: integer
        maximum: 1000
        minimum: 1
      responses:
        "200":
          description: |
            *OK* - The product promotion identifier was generated successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/ProductPromotionId'
        "400":
          description: |
            *Bad Request* - The server cannot process the request due to a malformed
            syntax. The response can be caused by missing mandatory query
            parameters, invalid value in the query parameters, validation
            exceptions, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: |
            *Not Found* - The server did not find anything matching the request URI.
            The response can be caused by missing path parameters, invalid WEB
            resource, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        "409":
          description: |
            *Conflict* - The server cannot complete the request due to a conflict
            with the current state of the resource.
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: |
            *Internal Server Error* - The server encountered an unexpected condition
            that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        "502":
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when
            calling another service.
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: |
            *Internal Server Error* - The server cannot fulfill the request due to a temporary overloading or maintenance of the server. Retry later.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-amdocs:
        route-service: pi-product-service
        public-roles: 
        - D1_ProductInventoryManagement_systemCreateProductId
        private-roles:
        - D1P_ProductInventoryManagement_write
  /product/applyProductFromOrder:
    post:
      tags:
      - productFactory
      summary: Request to search for assigned products per a search creteria
      description: "This service creates or updates a bulk of products and their assigned promotion.\n**Mandatory&#58;**\n- ProductOrder.id (represnts the order which is the container for the assigned product)\n- Product.productRootId (represnts the root product in the produt tree)\n- Product.ProductOrderRef\n- Product.ProductOfferingRef (in case of product offer)\n- Product.ProductSpecificationRef (in case of product specification)\n- Product.BillingAccountRef\n- Product.RelatedPartyRef (role = Customer)        \n\n**Readonly&#58;**\n- Product.CharacteristicMetadata\n- Product.ProductOrderRef\n\n**Business rules&#58;**\n- modifyReason (action must match orderItem.action)\n- relatedParty (only 1 relatedRarty with role = Customer, and Customer status is Active)\n- billingAccount (relatedParty with role = Customer is a prerequisite, should be associated with the same Customer)\n- for enabled product should have Product.ExternalIdentifer  \n\n**Reference value&#58;**\n- channel (ApplicationContext)\n- relatedParty.role = Customer (Configuration.relatedPartyCustomerRole)\n- relatedParty status Active (Configuration.customerValidatorValidStatusValues)\n"
      operationId: applyProductFromOrder
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: accept-Language
        in: header
        description: |
          The locale of the client
        required: false
        type: string
      - name: validate
        in: query
        description: |
          The validation of the operation prior to persisting the results
        required: false
        type: boolean
        default: true
      - name: orderChange
        in: query
        description: |
          The order was changed after the product was created, although the orderitem exists. create new version
        required: false
        type: boolean
        default: false        
      - in: body
        name: ProductOrder
        description: |
          The bulk of product orders to be handled
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/ProductOrder'
          minItems: 1
      responses:
        200:
          description: |
            *Created* - The products were created successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/product'
            minItems: 0
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed
            syntax. The response can be caused by missing mandatory query
            parameters, invalid value in the query parameters, validation
            exceptions, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI.
            The response can be caused by missing path parameters, invalid WEB
            resource, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict
            with the current state of the resource.
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition
            that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when
            calling another service.
          schema:
            $ref: '#/definitions/ErrorResponse'
        503:
          description: |
            *Internal Server Error* - The server cannot fulfill the request due to a temporary overloading or maintenance of the server. Retry later.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-amdocs:
        route-service: pi-factory-service
        public-roles:
        - D1_ProductInventoryManagement_createProduct
        private-roles:
        - D1P_ProductInventoryManagement_read
        - FndP_APIGateway_gw
      x-dox-Microservice: pi-factory-ms
  /productSearch:
    get:
      tags:
      - productInventorySearch
      summary: (Internal) Request to search for assigned products per a search creteria
      description: This operation searches for products in invenotry according to search creterias
      operationId: productSearch
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: Accept-Language
        in: header
        description: |
          The locale of the client
        required: false
        type: string
      - name: filter
        in: query
        description: |
          The filter for the output records. The filter is used as follows filter=[attributeName][operator][value],[value][&|;]&|;][attributeName][operator][value],[value] The supported values and operators for the filter are as follows -product.id == product.primaryId ==  externalIdentifier.type== externalIdentifier.id==
          when provided time to analyzee will be longer than other retrive tasks
        required: false
        type: string
      - name: relatedPartyId
        in: query
        description: |
          The ID of the customer that has this assigned product
        required: false
        type: string
      - name: offset
        in: query
        description: |
          The requested paginated start index page
        required: false
        type: integer
      - name: limit
        in: query
        description: |
          The requested paginated maximum number of results per page
        required: false
        type: integer
      responses:
        200:
          description: |
            *OK* - The product was retrieved successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/product'
            minItems: 0
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed
            syntax. The response can be caused by missing mandatory query
            parameters, invalid value in the query parameters, validation
            exceptions, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI.
            The response can be caused by missing path parameters, invalid WEB
            resource, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict
            with the current state of the resource.
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition
            that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when
            calling another service.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-amdocs:
        route-service: pi-search-service
        private-roles:
        - D1P_ProductInventoryManagement_read
      x-dox-Microservice: pi-search-ms
      x-dox-InternalAPI: true
  /product/validate:
    post:
      tags:
      - productValidation
      summary: (Internal) This operation validates the product
      description: "This task validates a product by its identifier.    \n"
      operationId: validateProduct
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: validate
        in: query
        description: |
          The validation of the operation prior to persisting the results
        required: false
        type: boolean
        default: true
      - name: validationType
        in: query
        description: |
          The type of the validation. The type determines the type of validations that are performed. The parameter can be either empty or include a list of validation types (one or multiple), for example - Configuration, Customer, BillingAccount.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - in: body
        name: Product
        description: |
          The product in the product inventory
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/product'
          minItems: 0
      responses:
        200:
          description: |
            *Validated* - The product order was validated successfully.
          schema:
            $ref: '#/definitions/Validation'
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed
            syntax. The response can be caused by missing mandatory query
            parameters, invalid value in the query parameters, validation
            exceptions, and so on.
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI.
            The response can be caused by missing path parameters, invalid WEB
[...]
